html{
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    background-image: url(images/three.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
body{
    
    background: rgba(0, 0, 0, 0.7);
    counter-reset: Serial;
}

#loader{
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
#loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

tr td:first-child:before
{
  counter-increment: Serial;
  content: counter(Serial); 
}
nav a{
    color: lightgreen;
    font-family: Comfortaa;
}

a{
  color: inherit;
  font-size: inherit;
}

.btn{
font-size: 2.2vh;
}

a:hover{
    color: aliceblue;
}

.navbar-brand img{
    height: 7vh;
}
.navbar.scrolled {
    background:rgba( 0, 0, 0, 0.4);
    transition: background 500ms;
}

.fimg{
  height: 45vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-bottom: 5vh;
}

#header{
    
    height: 100vh;
    width: 100%;
    background-image: url(images/Coverblack.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    padding-top: 30vh;
    /* color: lightgreen; */
    color: rgba(240, 248, 255, 0.9);
    font-family: Pacifico;
    font-size: 10vh;
}
h2{
    /* color: rgba(240, 248, 255, 0.8); */
    color: lightgreen;
    font-family: Comfortaa;
    font-size: 5vh;
    font-weight: 100;
    margin-bottom: 20vh;
    margin-top: 5vh;
}
h3{
    font-family: Comfortaa;
    font-weight: 300;
    color: aliceblue;
    font-size: 5vh;
}
p{
    font-family: Comfortaa;
    font-size: 2.5vh;
    color: aliceblue;
}

.card-text{
  font-size: 2vh;
}

#wide{
  width: 100%;
}

#reg{
  font-family: Comfortaa;
  font-size: 2.5vh;
}

/*start box animation */
  
.animation-area{
    width: 100%;
    height: 100vh;
  }

  .box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box-area li{

    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    /* background: white; */
    background: rgba(255, 255, 255, 0.4);
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  .box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
 
  }
  .box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    animation-duration: 10s;
  }

  @keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
  }
/* end box animation */
#list{
    font-family: Comfortaa;
    font-size: 2.5vh;
    color: aliceblue;
    
}
