html{
    height: 100vh;
    width: 100%;
    background-image: url(images/PicsArt.png);
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
body{
    background-color: rgba(0, 100, 0, 0.3);
    background-attachment: fixed;
}
h1{
    margin-top: 15vh;
    font-family: 'Pacifico', cursive;
    font-size: 10vh;
    color: white;
}

.subtitle{
    font-family: 'Arial Rounded MT Bold';
    font-size: 3vh;
    color: white;
    margin-bottom: 20vh;
}
.input-group-text{
    font-family: 'Arial Rounded MT Bold';
    font-size: 3vh;
}
button{
    font-family: 'Arial Rounded MT Bold';
    font-size: 3vh;
}
h2{
    font-family: Comfortaa;
    font-size: 5vh;
    color: beige;
}

.card-text{
    font-size: 2vh;
}

p{
    font-family: Nunito;
    font-size: 3vh;
    color: white;
}